* {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    background-color: black;
    color: white;
}

body {
    text-align: left;
    margin: 0px;
}

p {
    margin-left: 1em;
    margin-right: 1em;
}

a {
    margin-left: 1em;
    margin-right: 1em;
    /*border for fancy underline*/
    border-style: hidden hidden solid hidden;
    border-color: rgb(0, 67, 98);

    /*remove original underline*/
    text-decoration: none;
    color: white;
}

a:visited {
    border-color: rgb(76, 0, 85);
}
