* {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    letter-spacing: 0.02em;
}

html, html[data-theme="light"], html[data-theme="dark"] {
    /*wrote this to give support to both light theme and dark,
      without changing the content of the website,
      since the website is already dark.*/
}

@media (prefers-color-scheme: dark) {
    /*wrote this to give support to both light theme and dark,
      without changing the content of the website,
      since the website is already dark.*/
}

body {
    text-align: left;
    margin: 0px;
    background-color: #121212;
    color: white;
}

p {
    margin-left: 1em;
    margin-right: 1em;
}

p.centered {
    text-align: center;
}

a {
    /*border for fancy underline*/
    border-style: hidden hidden solid hidden;
    border-color: rgb(0, 67, 98);

    /*remove original underline*/
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: rgb(0, 0, 0);
}

a:visited {
    border-color: rgb(76, 0, 85);
}
