* {
    font-family: Helvetica, Verdana, Arial, sans-serif;
}

body {
    background-color: rgb(30, 30, 34);
    color: white;
    text-align: left;
}

a {
    /*border for fancy underline*/
    border-style: hidden hidden solid hidden;
    border-color: rgb(0, 67, 98);

    /*remove original underline*/
    text-decoration: none;
    color: white;
}

a:visited {
    border-color: rgb(76, 0, 85);
}
